.button{
	display: inline-block;
	vertical-align: top;

	width: 260px;
	padding-top: 14px;
	padding-bottom: 14px;

	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #444444;

	transition: background-color 0.3s,
							color 0.2s;

	&:hover{
		color: #fff;

		background-color: #444444;
		cursor: pointer;
	}

	&:active{
		color: rgba(#fff, 0.3);
	}
}