.button{
	display: inline-block;
	vertical-align: top;

	box-sizing: border-box;
	width: 260px;
	padding-top: 14px;
	padding-bottom: 14px;

	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #444444;

	background-color: transparent;
	border: 2px solid #444444;

	transition: background-color 0.3s,
							color 0.2s;

	&:hover{
		color: #fff;

		background-color: #444444;
		cursor: pointer;
	}

	&:active{
		color: rgba(#fff, 0.3);
	}
}

@media (min-width: $tablet-width){
	.button{
		width: 290px;
	}
}