.cart__link{
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-size: 18px 19px;
	background-position: 10% 30px;

	&:hover{
		background-image: url("../img/icon-cart-hover.svg");
	}

	&:active{
		background-image: url("../img/icon-cart-active.svg");
	}
}

@media (min-width: $tablet-width){
	.cart{
		height: 88px;
	}

	.cart__link{
		height: 100%;
		background-position: 16% 34px;
	}
}