.catalog{

}

.catalog__container{
	width: 260px;
	margin: 0 auto;
}

@media (min-width: $tablet-width){
	.catalog{

	}

	.catalog__container{
		width: 668px;
	}
}

@media (min-width: $desktop-width){
	.catalog{

	}

	.catalog__container{
		width: 1050px;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}