.contacts{
	width: 100%;
}

.contacts__container{
	width: 268px;
	margin: 0 auto;
}

.contacts__title{
	margin-top: 38px;
	margin-bottom: 26px;

	font-size: 18px;
	line-height: 30px;
}

.contacts__fields{
	margin: 0;
	margin-bottom: 34px;
}

.contacts__field{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

	font-size: 15px;	
	line-height: 30px;
	font-weight: 400;

	&:last-child{
		margin-bottom: 0;
	}
}

.contacts__key{

}

.contacts__value{
	display: block;
	width: 183px;

	&--bordered{
		border-bottom: 1px solid #62d1ba;
	}
}

.contacts__map{
	margin-bottom: 39px;
	
	text-align: center;

	img{
		display: inline-block;
		vertical-align: top;
	}
}

.contacts__write-us{

}

@media (min-width: $tablet-width){
	.contacts{
		width: 100%;
	}

	.contacts__container{
		
	}

	.contacts__title{

	}

	.contacts__fields{

	}

	.contacts__field{

	}

	.contacts__key{

	}

	.contacts__value{

	}

	.contacts__map{

	}

	.contacts__write-us{

	}
}

@media (min-width: $desktop-width){
	.contacts{
		width: 100%;
	}

	.contacts__container{
		
	}

	.contacts__title{

	}

	.contacts__fields{

	}

	.contacts__field{

	}

	.contacts__key{

	}

	.contacts__value{

	}

	.contacts__map{

	}

	.contacts__write-us{

	}
}
