.contacts{
	width: 100%;
}

.contacts__container{
	width: 268px;
	margin: 0 auto;
}

.contacts__title{

}

.contacts__fields{

}

.contacts__field{

}

.contacts__key{

}

.contacts__value{

}

.contacts__map{

}

.contacts__write-us{

}

@media (min-width: $tablet-width){
	.contacts{
		width: 100%;
	}

	.contacts__container{
		
	}

	.contacts__title{

	}

	.contacts__fields{

	}

	.contacts__field{

	}

	.contacts__key{

	}

	.contacts__value{

	}

	.contacts__map{

	}

	.contacts__write-us{

	}
}

@media (min-width: $desktop-width){
	.contacts{
		width: 100%;
	}

	.contacts__container{
		
	}

	.contacts__title{

	}

	.contacts__fields{

	}

	.contacts__field{

	}

	.contacts__key{

	}

	.contacts__value{

	}

	.contacts__map{

	}

	.contacts__write-us{

	}
}
