.contacts{
	width: 100%;
}

.contacts__container{
	width: 268px;
	margin: 0 auto;

	&--2{
		width: 100%;
	}
}

.contacts__title{
	margin-top: 38px;
	margin-bottom: 26px;

	font-size: 18px;
	line-height: 30px;
}

.contacts__fields{
	margin: 0;
	margin-bottom: 34px;
}

.contacts__field{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

	font-size: 15px;	
	line-height: 30px;
	font-weight: 400;

	&:last-child{
		margin-bottom: 0;
	}
}

.contacts__key{

}

.contacts__value{
	display: block;
	width: 183px;

	&--bordered{
		border-bottom: 1px solid #62d1ba;
	}
}

.contacts__map{
	margin-bottom: 39px;

	text-align: center;

	img{
		display: inline-block;
		vertical-align: top;
	}
}

.contacts__write-us{
	margin-bottom: 39px;
}

@media (min-width: $tablet-width){
	.contacts{
		width: 100%;
	}

	.contacts__container{
		position: relative;

		width: 668px;

		&--1{
			&::after{
				content: "";
				position: absolute;
				top: -20px;
				right: 3px;

				width: 47px;
				height: 81px;

				background-image: url("../img/icon-flag.svg");
				background-repeat: no-repeat;
			}
		}

		&--2{
			width: 100%;
		}

		&--3{
			text-align: center;
		}
	}

	.contacts__title{
		margin-top: 65px;
		margin-bottom: 47px;

		font-size: 43px;
		line-height: 50px;
	}

	.contacts__fields{
		display: flex;
		justify-content: space-between;

		margin-bottom: 54px;
	}

	.contacts__field{
		width: 334px;

		justify-content: flex-start;
		align-items: flex-start;
	}

	.contacts__key{
		width: 77px;
	}

	.contacts__value{
		width: auto;
	}

	.contacts__map{
		margin-bottom: 55px;
	}

	.contacts__write-us{
		display: inline-block;
		vertical-align: top;

		width: 230px;
		margin-bottom: 57px;
	}
}

@media (min-width: $desktop-width){
	.contacts{
		position: relative;

		width: 1050px;
		margin: 0 auto;
	}

	.contacts__container{
		width: 350px;
		margin: 0;
		margin-left: 175px;

		&--1{

			&::after{
				right: 400px;
			}
		}

		&--2{
			position: absolute;
			top: -76px;
			right: 0px;

			width: 525px;
	  	height: 457px;
		}

		&--3{
			text-align: left;
		}
	}

	.contacts__title{
		margin-top: 147px;
		margin-bottom: 45px;

		font-size: 53px;
		line-height: 57px;
	}

	.contacts__fields{
		flex-wrap: wrap;

		margin-bottom: 76px;
	}

	.contacts__field{
		width: 100%;
	}

	.contacts__key{

	}

	.contacts__value{

	}

	.contacts__map{
	   	

	// 	width: 525px;
	// 	height: 457px;
	}

	.contacts__write-us{
		margin-bottom: 105px;
	}
}
