.form{
	width: 260px;
	margin: 0 auto;
}

.form__desc{
	margin-bottom: 21px;

	font-size: 13px;
	line-height: 24px;
	color: #444444;
}

.main-header + .form{
	margin-bottom: 24px;
}

.form__fieldset{
	padding: 0;
	margin: 0;
	margin-bottom: 32px;

	border: none;
	border-top: 1px solid #63d1bb;
}

.form__legend{
	min-width: 62px;
	margin-bottom: 25px;

	font-size: 17px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #63d1bb;
}

.form__label{
	position: relative;

	display: block;
	padding-top: 12px;
	padding-bottom: 9px;
	padding-left: 64px;

	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

.form__label--radio{
	&::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		box-sizing: border-box;
		width: 40px;
		height: 40px;

		border: 2px solid #444444;
		border-radius: 50%;
	}

	&:hover::after{
		border-color: #62d1ba;
	}

	span{
		position: absolute;
		top: 12px;
		left: 12px;

		width: 16px;
		height: 16px;

		border-radius: 50%;
		background-color: #62d1ba;
	}
}

.form__info-label{
	display: block;
	margin-top: 22px;

	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

.form__input{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

	font-size: 17px;
	line-height: 18px;

	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px solid #000;

	transition: border-bottom-color 0.2s;

	&:hover{
		border-bottom-color: #62d1ba;
	}

	&:active{
		border-bottom-color: #62d1ba;
	}

	&:focus{
		border-bottom-color: #62d1ba;
	}
}

.form__textarea{
	box-sizing: border-box;
	padding: 16px;
	width: 260px;

	font-size: 17px;
	line-height: 18px;
	color: #444444;

	border: 2px solid #000;

	&:hover{
		border-color: #62d1ba;
	}

	&:active{
		border-color: #62d1ba;
	}

	&:focus{
		border-color: #62d1ba;
	}
}

.form__necessarily{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #444;
}

@media (min-width: $tablet-width){
	.form{
		width: 100%;
	}

	.form__desc{
		width: 668px;
		margin: 0 auto;
		margin-bottom: 55px;

		font-size: 17px;
		line-height: 30px;
	}
}

@media (min-width: $desktop-width){
	.form{

	}

	.form__desc{
		width: 700px;
	}
}