.main-nav{
	position: relative;

	width: 100%;
}

.main-nav__list{
	position: relative;

	min-height: 80px;
	@include list-reset;
}

.main-nav__logo{
	display: inline-block;
	vertical-align: top;
}

.main-nav__item{
	display: inline-block;
	vertical-align: top;

	box-sizing: border-box;
	width: 100%;

	//text-align: center;
	border-bottom: 1px solid #ececec;

	&--catalog{
		position: absolute;
		top: 80px;
		left: 0;
	}

	&--order{
		position: absolute;
		top: 157px;
		left: 0;
	}

	&.search{
		position: absolute;
		top: 234px;
		left: 0;
	}

	&.cart{
		position: absolute;
		top: 311px;
		left: 0;
	}
}

.main-nav__item--header{
	text-align: center;
}

.main-nav__link{
	display: inline-block;
	vertical-align: top;

	box-sizing: border-box;
	width: 100%;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 23.5%;

	font-family: $opensans;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #000;

	background-color: #fff;

	&:hover{
		color: rgba(#000, 0.6);
	}

	&:active{
		color: rgba(#000, 0.3);
	}
}

.main-nav__link--header{
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 0;
}

.main-nav__item--hidden{
	display: none;
}

.main-nav__additional{
	display: none;
}

.main-nav__toggle{
	position: absolute;
	top: 32px;
	right: 30px;

	background-color: transparent;
	border: none;

	&--open{
		width: 20px;
		height: 14px;

		background-image: url("../img/icon-menu-open.svg");
	}

	&--close{
		top: 29px;

		width: 21px;
		height: 20px;

		background-image: url("../img/icon-menu-close.svg");
	}

	&:hover{
		cursor: pointer;
	}

	&:focus{
		outline: 1px solid rgba(#B6B8D0, 0.4);
	}
}

.main-nav--no-js .main-nav__item{
	display: block;
	position: static;
}

.main-nav--no-js .main-nav__item{

	&--catalog,
	&--order,
	&.search,
	&.cart{
		position: static;
	}
}

.main-nav--no-js .main-nav__toggle{
	display: none;
}

@media (min-width: $tablet-width){
	.main-nav__item--header{
		max-width: 300px;
		float: left;
	}

	.main-nav__list{
		display: flex;
		flex-wrap: wrap;
	}

	.main-nav__item{

		&--catalog,
		&--order,
		&.search,
		&.cart{
			position: static;
		}
}

	.main-nav__item--hidden{
		display: block;
	}



	.main-nav__list .main-nav__item:nth-child(1){
		order: 1;
	}

	.main-nav__list .main-nav__item:nth-child(2){
		order: 4;
		width: 300px;
	}

	.main-nav__list .main-nav__item:nth-child(3){
		order: 5;
		width: 300px;
	}

	.main-nav__list .main-nav__item:nth-child(4){
		order: 2;
		width: 100px;
	}

	.main-nav__list .main-nav__item:nth-child(5){
		order: 3;
		width: 250px;
	}

	.main-nav__toggle{
		display: none;
	}
}