.page-footer{
	background-color: #f1f1f1;
}

.page-footer__container{
	width: 260px;
	margin: 0 auto;
	padding-top: 24px;
}

.page-footer__col{
	text-align: center;

	&--1{
		display: none;
	}

	&--3{
		padding-top: 22px;
		padding-bottom: 32px;
	}
}

.page-footer__social{
	position: relative;

	margin-bottom: 28px;

	&::after{
		content: "";
		position: absolute;
		bottom: -26px;
		left: 0;
		right: 0;

		height: 1px;
		background-color: #e5e5e5;
	}
}

.page-footer__created{
	display: inline-block;
	vertical-align: middle;

	margin-right: 28px;

	font-size: 19px;
	line-height: 18px;
}

.page-footer__image{
	vertical-align: middle;

	path{
		fill: #63d1bb;
	}

	&:hover{

		path{
			fill: #46c1ae;
		}
	}

	&:active{
		opacity: 0.3;
	}
}