.product{
	margin-bottom: 30px;
}

.product__img{

	img{
		display: block;
		width: 260px;
		height: 195px;
	}
}

.product__info{
	position: relative;

	padding-left: 28px;
	padding-right: 28px;

	border: 1px solid #ededed;
}

.product__title{
	margin-top: 28px;
	margin-bottom: 6px;

	font-size: 17px;
	line-height: 24px;
}

.product__details{
	font-size: 13px;
	line-height: 30px;
	color: #444444;
}

.product__hr{
	display: block;
	margin-top: 15px;
	margin-left: 0;
	margin-bottom: 24px;

	width: 205px;
	height: 1px;
	background-color: #ececec;

	border: none;
}

.product__price{
	display: flex;
	justify-content: space-between;

	margin-bottom: 25px;
}

.product__price-value{
	font-size: 15px;
	line-height: 24px;
}

.product__to-cart{
	border: none;
	background-color: transparent;

	width: 21px;
	height: 20px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;

	&:hover{
		cursor: pointer;

		background-image: url("../img/icon-cart-hover.svg");
	}

	&:active{
		opacity: 0.3;
	}

	&:focus{
		outline: 1px solid rgba(#63d1bb, 0.5);
	}
}