.product{
	margin-bottom: 30px;
}

.product__img{

	img{
		display: block;
		width: 260px;
		height: 195px;
	}
}

.product__info{
	position: relative;

	box-sizing: border-box;
	padding-left: 28px;
	padding-right: 28px;

	border: 1px solid #ededed;
}

.product__title{
	margin-top: 28px;
	margin-bottom: 6px;

	font-size: 17px;
	line-height: 24px;
}

.product__details{
	font-size: 13px;
	line-height: 30px;
	color: #444444;
}

.product__hr{
	display: block;
	margin-top: 15px;
	margin-left: 0;
	margin-bottom: 24px;

	width: 205px;
	height: 1px;
	background-color: #ececec;

	border: none;
}

.product__price{
	display: flex;
	justify-content: space-between;

	margin-bottom: 25px;
}

.product__price-value{
	font-size: 15px;
	line-height: 24px;
}

.product__to-cart{
	border: none;
	background-color: transparent;

	width: 19px;
	height: 20px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;

	&:hover{
		cursor: pointer;

		background-image: url("../img/icon-cart-hover.svg");
	}

	&:active{
		opacity: 0.3;
	}

	&:focus{
		outline: 1px solid rgba(#63d1bb, 0.5);
	}
}

@media (min-width: $tablet-width){
	.product{
		display: flex;

		margin-bottom: 54px;
	}

	.product__img{
		width: 334px;
		height: 334px;
		overflow: hidden;

		img{
			width: 334px;
			height: 334px;
		}
	}

	.product__info{
		width: 334px;
		padding-right: 32px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.product__title{
		width: 240px;

		font-size: 20px;
		line-height: 24px;
	}

	.product__hr{
		width: 268px;
		margin-top: 0;
	}

	.product__price-value{
		font-size: 17px;
		line-height: 24px;
	}
}

@media (min-width: $desktop-width){
	.product{
		width: 316px;

		display: block;
	}

	.product__img{
		height: 462px;
		width: 316px;

		img{
			width: 316px;
			height: 462px;
		}
	}

	.product__info{
		min-height: 197px;
		width: 316px;
	}

	.product__title{
		font-size: 20px;
		line-height: 24px;
	}

}