.reviews{
}

.reviews__container{
	width: 260px;
	margin: 0 auto;
}

.reviews__title{
	margin: 0;
	margin-bottom: 23px;

	font-size: 25px;
	line-height: 30px;
}

.reviews__desc{
	margin-bottom: 27px;

	font-size: 15px;
	line-height: 30px;
	color: #444444;
}

.reviews__author{
	display: block;
	margin-bottom: 2px;

	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
}

.reviews__insta{
	display: block;
	margin-bottom: 28px;

	font-size: 17px;
	line-height: 30px;
	color: #444444;
}

.reviews__controls{
	position: relative;

	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #ececec;

	&::after{
		content: "";
		position: absolute;
		top: 0;
		left: 50%;

		width: 2px;
		height: 100%;
		background-color: #ececec;
	}
}

.reviews__control{
	box-sizing: border-box;
	width: 50%;
	min-height: 52px;

	background-color: transparent;
	background-repeat: no-repeat;
	border: none;

	&--prev{
		background-image: url("../img/icon-left-arrow.svg");
		background-position: center;
	}

	&--next{
		background-image: url("../img/icon-right-arrow.svg");
		background-position: center;
	}
}

.reviews__slides{
	position: relative;
}

.reviews__slide{
	display: none;

	&--active{
		display: block;
	}
}

.reviews__slider--no-js .reviews__slide{
	display: block;
}

.reviews__slider--no-js .reviews__controls{
	display: none;
}