.search__link{
	position: relative;

	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-size: 18px 19px;
	background-position: 10% 30px;

	&:hover{
		background-image: url("../img/icon-search-hover.svg");
	}

	&:active{
		background-image: url("../img/icon-search-active.svg");
	}

	&::after{
		content: "";

		position: absolute;
		top: 45px;
		left: 35px;

		width: 25px;
		height: 2px;
		background-color: red;
		transform: rotate(45deg);

		animation: linkOpac 0.5s;

		display: none;
	}

	&::before{
		content: "";

		position: absolute;
		top: 45px;
		left: 35px;

		width: 25px;
		height: 2px;
		background-color: red;
		transform: rotate(-45deg);

		animation: linkOpac 0.5s;

		display: none;
	}

	&:hover::after,
	&:hover::before{
		background-color: rgba(red, 0.4);
	}
}

.search__link.search__form--opened{
	background-image: none;

	&::after,
	&::before{
		display: block;
	}
}

@keyframes linkOpac{
	0%{
		opacity: 0;
	}

	80%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.search__form{
	display: none;
}

@media (min-width: $tablet-width){
	.tablet-hidden{
		@include visually-hidden;
	}

	.search{
		position: relative;

		box-sizing: border-box;
		width: 84px;
		height: 88px;

		border-left: 1px solid #ececec;
		border-right: 1px solid #ececec;
	}

	.search__link{
		height: 100%;
		background-position: 47% 34px;
	}

	.search__form{
		display: none;

		position: absolute;
		top: 95px;
		left: 50%;

		transform: translateX(-50%);

		width: 600px;

		background-color: #ffe;
		border-radius: 4px;
	}

	.search__input{
		box-sizing: border-box;
		width: 500px;
		height: 60px;
		padding-left: 15px;
		margin-right: 25px;

		font-size: 42px;
		font-style: italic;

		border: 2px solid #62d1ba;
	}

	.search__btn{
		display: inline-block;
		vertical-align: top;

		box-sizing: border-box;
		width: 60px;
		height: 50px;
		margin-top: 5px;

		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
		color: #62d1ba;

		background-color: #ffe;
		border: 1px solid #efe;

		transition: background-color 0.2s;

		&:hover{
			cursor: pointer;

			background-color: #62d1ba;
			color: #ffe;
		}
	}

	.search__form--opened{
		display: block;

		animation: formOut 0.4s;
	}

	@keyframes formOut{
		0%{
			transform: translateY(-150px) translateX(-50%);
		}

		100%{
			transform: translateY(0px) translateX(-50%);
		}
	}
}

@media (min-width: $desktop-width){
	.search__link{
		&::after,
		&::before{
			transition: opacity 0.1s;
			
			left: 28px;
		}
	}
}