.zigzag-hr{
	margin: 0;

	height: 7px;

	background-image: url("../img/bg-zigzag-line.svg");
	background-size: auto 7px;
	border: none;
}

@media (min-width: $tablet-width){
	.zigzag-hr{
		height: 16px;
		background-size: auto 16px;
	}
}

@media (min-width: $desktop-width){
	.zigzag-hr{
		height: 23px;
		background-size: auto 23px;
	}
}