
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body{
	font-family: "Open Sans";
	font-weight: 400;

  //preload bg images
  &::after{
    display: none;
    content: url("../img/icon-search-hover.svg")
             url("../img/icon-search-active.svg")
             url("../img/icon-cart-hover.svg")
             url("../img/icon-cart-active.svg");
  }
}

.visually-hidden{
  @include visually-hidden();
}

.container{
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $desktop-width){
  .container{
    width: 1050px;
  }
}